html{
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    background-color: #39307F;
    color: white;
    font-family: 'Dancing Script', cursive;
}

.container__principal{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    width: 302px;
    height: 302px;
}

.board > div {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
}

.board > div:nth-child(1),
.board > div:nth-child(2),
.board > div:nth-child(3),
.board > div:nth-child(4),
.board > div:nth-child(5),
.board > div:nth-child(6){
    border-bottom: medium solid white;
}

.board > div:nth-child(1),
.board > div:nth-child(2),
.board > div:nth-child(4),
.board > div:nth-child(5),
.board > div:nth-child(7),
.board > div:nth-child(8){
    border-right: medium solid white;
}


.board > div:nth-child(even){
    color: #BF1576;
}

#resultado{
    display: none;
}


.btn{
    display: none;
    width: 150px;
    margin: 0 auto;
    height: 40px;
    text-transform: uppercase;
    font-size: .8rem;
    border-radius: 5px;
    border: thick solid transparent;
    background-color: black;
    color: white;
}

.btn:hover{
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgb(16, 16, 16);
    transform: scale(.9);
}

.info-btn{
    background-color: transparent;
    border: none;
    width: 50px;
    cursor: pointer;
    animation: mover 500ms ease-in-out infinite;
    fill: white;
}

@keyframes mover {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.modal{
    width: 400px;
    height: 500px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    background-color: white;
    position: absolute;
    color: black;
    z-index: 99;
    display: none;
}

.modal button{
    position: fixed;
    top: 50px;
    left: 500px;
    width: 80px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

